/* css for owl-carousel */

.home-demo .item {
    background: #ff3f4d;
   
    
    /* height:200px; */

}
.home-demo{
    margin-top:20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.home-demo .item img{

    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
}
body{
    background-color: #eee;
}
.home-demo h2 {
    color: #FFF;
    text-align: center;
    /* padding: 5rem 0; */
    margin: 0;
    font-style: italic;
    font-weight: 300;
    
}